.app-view {
    display: flex;
    flex-wrap: wrap;
}

.app-bar {
    margin-right: 10px;
    width: 200px;
}

.app-view-controll {
    flex-grow: 1;
}

.controll {
    background-color: white;
    cursor: pointer;
    margin: 5px;
}

.controll.active {
    font-weight: bold;
}

.logout-btn {
    color: red;
    border: 1px solid red;
    font-weight: bold;
    width: fit-content;
    padding: 5px 15px 5px 15px;
}

.no-decor {
    color: inherit;
}

.no-decor:hover {
    color: inherit;
    text-decoration: none;
}

.list-card {
    display: flex;
    flex-wrap: wrap;
    margin: 15px -10px -10px -10px;
}

.card-item {
    margin: 10px;
    width: 282px;
}

.item-text {
    overflow: hidden;
}

.btn-full {
    display: flex;
    margin: -6px;
}

.btn-full button {
    flex-grow: 1;
    margin: 5px;
}

.flex-grow {
    flex-grow: 1;
}

.s-lg {
    font-size: 30pt;
}

.d-flex-horizon {
    justify-content: space-between;
    align-items: center;
}

.d-middle-x {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.class-cover {
    position: relative;
    height: 200px;
}

.cover-image {
    z-index: -100;
    height: 200px;
    width: 100%;
    overflow: hidden;
    position: absolute;
    filter: blur(2px);
}

.class-title {
    color: white;
}

.border-circle {
    border-radius: 50%;
}

.logo-main {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 10px;
    width: 100%;
    max-width: 100px;
}

.logo-main img {
    width: 100%;
}

.side-float {
    position: sticky;
    top: 10px;
    width: 100%;
}

.controll-title {
    cursor: pointer;
    font-size: 15pt;
}

.controll-title.active {
    font-weight: bold;
}

.s-md {
    font-size: 20pt;
}

.float-right {
    position: absolute;
    right: 15px;
    top: 0;
}

.c-danger {
    color: red;
}

.d-middle {
    display: flex;
    justify-content: center;
}

.d-middle-y {
    display: flex;
    align-items: center;
}

.d-centroid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centroid {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.s-sm {
    font-size: 15pt;
}

.p-absolute {
    position: absolute;
}

.s-xsm {
    font-size: 12pt;
}

.extend-btn {
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 5px gray;
    padding: 5px 0px 5px 0px;
    display: none;
}

.extend-btn.active {
    display: inherit;
}

.extend-btn-controll {
    cursor: pointer;
    padding: 15px 40px 10px 10px;
}

.extend-btn-controll:hover {
    background-color: grey;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                       supported by Chrome, Edge, Opera and Firefox */
}

body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: -1000;
    overflow: hidden;
    font-family: sans-serif;
    background-color: transparent;
}

.loginbox {
    width: 400px;
    height: 490px;
    background: white;
    color: rgb(51, 92, 153);
    box-sizing: border-box;
    padding: 0px 30px;
    border-radius: 3%;
    padding-top: 10px;
    box-shadow: 1px 1px 7px rgb(51, 92, 153);
}

.forgotbox {
    width: 340px;
    height: 370px;
    background: white;
    color: rgb(51, 92, 153);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 3%;
    box-shadow: 1px 1px 7px rgb(51, 92, 153);
}

.registerbox {
    width: 600px;
    height: fit-content;
    background: white;
    color: rgb(51, 92, 153);
    box-sizing: border-box;
    padding: 25px 30px;
    border-radius: 2%;
    box-shadow: 1px 1px 7px rgb(51, 92, 153);
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 25px;
}

.loginbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.lam-input-text,
.lam-input-pwd {
    border: none;
    border-bottom: 1px solid rgb(49, 100, 158);
    background: transparent;
    outline: none;
    height: 40px;
    color: #3060a8;
    font-size: 16px;
}

input.account-btn {
    border: none;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.bg-lam {
    background: #4aa9b5;
}

.lam-input {
    width: 100%;
    margin-bottom: 20px;
}

a {
    font-size: 16px;
    line-height: 20px;
    color: #3060a8;
}

a:hover {
    color: #ffc107;
}

hv-w:hover {
    background-color: white !important;
}

.bg-white {
    opacity: 1 !important;
    background-color: white !important;
}

.c-black {
    color: black !important;
}

.c-lam {
    color: #3060a8 !important;
}

.shadow-soft {
    box-shadow: 0px 1px 2px grey;
}

.hv-3d:hover {
    box-shadow: 0px 2px 5px grey;
}

.hv-3d-lam:hover {
    box-shadow: 0px 2px 5px #3060a8;
}

.registerbox-header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.imgcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.x-center {
    display: flex;
    align-items: center;
}

.btn-float-right {
    position: absolute;
    top: 7px;
    right: 5px;
    cursor: pointer;
}

.w-100 {
    width: 100% !important;
}

input,
.btn {
    width: 100%;
    border: none;
    border-radius: 20px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    text-decoration: none;
    /* remove underline from anchors */
}

.google {
    background-color: #dd4b39;
    color: white;
}

.btn-outline {
    border: none;
    background: transparent;
    outline: none;
    height: 40px;
    font-size: 17px;
}

.blur-border {
    box-shadow: 0px 1px 3px #797a7c;
}

.feed {
    height: fit-content;
}

.feed-content {
    height: 100%;
}

.feed-list {
    /* background-color: red; */
    padding: 0px;
}

.no-border {
    border: none;
}

.feed-item {
    padding: 0px;
    /* background-color: green; */
}

.btn-sticky-bottom-left {
    position: sticky;
    margin-left: 15px;
    bottom: 20px;
}

.color-main {
    color: rgb(135 197 243);
}

.btn-circle-sm {
    border-radius: 50%;
    height: 1.2em;
    width: 1.2em;
    cursor: pointer;
    font-size: 45px;
    color: white;
}

.d-text-center {
    text-align: center;
    vertical-align: middle;
    line-height: 1.2em;
}

.radius-sm {
    border-radius: 3px;
}

.avatar_cover {
    width: 6em;
    border-radius: 50%;
}

.font-sm {
    font-size: 14px;
}

.font-md {
    font-size: 15px;
}

.color-danger {
    color: #dd4b39;
}

.feed_user_avatar {
    width: 4em;
    border-radius: 10000px;
}

.pd-sm {
    padding: 0.5em;
}

.font-weigh-md {
    font-weight: 500;
}

.hidden {
    display: none;
}

body {
    font-family: "Lato", sans-serif;
}

.left-content {
    margin-top: 20px;
    overflow-x: hidden;
    padding: 8px 0;
}

.navside {
    height: calc(100vh - 20px);
}

.info-card {
    position: sticky;
    top: calc(100vh - 10px);
    margin: 10px;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 10px 0px 10px 10px;
}

.left-content .info-card .navigator {
    padding: 10px 0px 0px 0px;
}

.bg-main {
    background: rgb(161, 196, 253);
    background: linear-gradient(168deg, rgba(161, 196, 253, 1) 0%, rgba(194, 220, 251, 1) 100%);
}

.main {
    min-height: 100vh;
}

@media screen and (max-height: 450px) {
    .left-content {
        padding-top: 15px;
    }
    .left-content a {
        font-size: 18px;
    }
}

.pdt-sm {
    padding-top: 20px;
}

.d-flex-top {
    display: flex;
}

.no-margin {
    margin: 0 !important;
}

.p-relative {
    position: relative;
}

.embed_iframe {
    width: 560px;
    max-width: 100%;
    height: 315px;
}

.qw-notify {
    margin: 10px;
    padding: 5px;
}

.notify-user-avatar {
    width: 3em;
}

.m-sm {
    margin: 1em;
}

.test-red {
    background-color: red;
    width: 100%;
    height: 100%;
}

.al-right {
    text-align: right;
}

.mt-10 {
    margin-top: 10px;
}

.font-strong {
    font-weight: bold;
}

.font-lg {
    font-size: 20px;
}

.div-controll {
    cursor: pointer;
}

.border-tiny {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.pd-5-10 {
    padding: 5px 10px 5px 10px;
}

.w-max {
    width: max-content;
}

.full {
    width: 100vw;
    height: 100vh;
}

.rect-crop {
    border: 1px solid orange;
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
}

.mr-sm {
    margin-right: 1em;
}

.update-sm-btn {
    width: max-content !important;
    background-color: #3060a8;
    border: none;
    font-size: 14px;
    font-weight: 500;
    color: white;
}

.cancel-update-sm-btn {
    width: max-content !important;
    background-color: white;
    border: none;
    font-size: 14px;
    font-weight: 500;
}

.update-info-modal {
    background-color: white;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -100;
    /*z-index: 100;*/
    opacity: 0;
    /*opacity: 0.95*/
    transition: ease-in-out 100ms;
}

.update-info-modal>div {
    opacity: 1
}

.update-info-modal .content {
    width: inherit;
    height: inherit;
    position: relative;
}

.add-feed-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -100;
    transition: ease-in-out;
}

.inactive {
    display: none !important;
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    align-items: center;
    justify-content: center;
    display: none;
}

.loading.active {
    display: flex;
}

.loading-overlay {
    z-index: 300;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.616);
    pointer-events: none;
}

.spinner {
    display: inline-block;
    position: absolute;
    z-index: 300;
    /* spinner shape */
    width: 3rem;
    height: 3rem;
    vertical-align: text-bottom;
    border: 0.4em solid #ff8840;
    border-right-color: transparent;
    border-radius: 50%;
    animation: spinner infinite;
    animation-duration: 1s;
    animation-timing-function: linear;
}

@keyframes spinner {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.add-feed-modal .overlay {
    background-color: #FAFAFA;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -10;
    opacity: 1;
    transition: ease-in-out 100ms;
}

.add-feed-modal .content {
    z-index: -11;
    width: 100%;
    max-width: 700px;
    margin: 10px 10px calc(100vw - 80%);
    height: fit-content;
}

.content .toolbar {
    width: 100%;
    max-width: 80px;
}

textarea.feed-text {
    width: 100%;
    height: 100%;
}

.r-text {
    overflow: auto;
    word-break: break-all;
    width: 100%;
    height: 100%;
    max-height: 400px;
}

.d-flex {
    display: flex;
}

.fake-btn {
    width: fit-content;
    padding: 3px 9px 3px 9px;
    border-radius: 25px;
    cursor: pointer;
    margin: 5px;
}

.fake-btn-circle {
    width: fit-content;
    border-radius: 1000px;
    cursor: pointer;
    margin: 5px;
}

.mb-1 {
    margin-bottom: 10px !important;
}

#transparent-layer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -100;
}

.transparent-layer {
    pointer-events: none;
}

.transparent-layer div,
span {
    pointer-events: auto;
}

#draggable {
    cursor: move;
}

.font-standard {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.popup-toggle {
    padding: 16px;
    border-radius: 5000px;
    background-color: white;
}

.opt-main {
    padding: 8px;
    z-index: 50;
    top: -5px;
    left: -5px;
    border-radius: 5000px;
    background-color: white;
}

.opt-1 {
    top: 0px;
    left: 0px;
    z-index: 10;
    transition: cubic-bezier(0.6, -0.5, 0.4, 1.5) 500ms;
}

.opt-2 {
    top: 0px;
    left: 0px;
    z-index: 10;
    transition: cubic-bezier(0.6, -0.5, 0.4, 1.5) 500ms;
}

.app-title {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.popup-toggle:hover .opt-1 {
    top: -35px;
    left: 35px;
    transition: cubic-bezier(0.6, -0.5, 0.4, 1.5) 500ms;
}

.popup-toggle:hover .opt-2 {
    top: 0px;
    left: 35px;
    transition: cubic-bezier(0.6, -0.5, 0.4, 1.5) 500ms;
}

#customers {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td,
#customers th {
    border: 1px solid #ffffff;
    padding: 8px;
}

.color-success {
    color: #07ba5a;
}

.screenshot.active {
    background-color: #ff8800 !important;
    color: white;
}

#customers tr:nth-child(even) {
    background-color: #ffffff;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #7192ad;
    color: white;
}

.alertSubmitCard {
    position: relative;
    width: 0;
}

.alertSubmitContent {
    position: absolute;
    min-width: 230px;
    top: 0;
    left: 3px;
}

.closeAlertSubmitCardContainer {
    position: absolute;
    right: 0;
    top: 0;
    background-color: red;
}

.closeAlertSubmitCard {
    position: absolute;
    top: -9px;
    left: 0;
}

.btn-disable {
    background-color: #797a7c;
    pointer-events: none;
}

.close-app {
    color: #ff8800;
}

.close-app:hover {
    color: #dd4b39;
}

.overlay-title {
    position: absolute;
    bottom: 10px;
    color: white;
    background-color: rgba(121, 122, 124, 0.45);
    padding: 5px 10px 5px 10px;
}